@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: white;
	font-family: 'Epilogue', sans-serif;
	font-size: 15px;
	line-height: 19px;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	border: none;
}

header {
	padding: 0 calc(50% - 640px);
	display: flex;
	padding-top: 27px;
	padding-bottom: 23px;
	background-color: #010032;
	justify-content: space-between;
	align-items: center;
}

header nav {
	display: flex;
	gap: 40px;
}

.cart {
	display: flex;
	gap: 15px;
	align-items: center;
}

.cart__burger {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.cart__burger span {
	width: 25px;
	height: 2px;
	background-color: #f1f2f6;
	border-radius: 20px;
}

.info {
	padding: 0 calc(50% - 640px);
	display: flex;

	background-color: #010032;
	flex-direction: column;
	background-image: url(../img/man.png);
	background-repeat: no-repeat;
	background-position: right;
}

.info__text {
	width: 579px;
}

.info__text p:first-of-type {
	margin: 95px 0 32px;
	font-size: 72px;
	line-height: 76px;
}

.info__text p {
	font-size: 22px;
	line-height: 34px;
}

.info__text button {
	margin-top: 26px;
	font-size: 18px;
	line-height: 25px;
	padding: 22px 44px;
	border-radius: 32px;
	display: flex;
	align-items: center;
	gap: 24px;
}

.info__awards {
	margin: 100px 0 50px;
	display: flex;
	gap: 24px;
	align-items: center;
}

.text__awards {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.text__awards p:first-of-type {
	font-size: 18px;
	line-height: 26px;
}

.text__awards p:last-of-type {
	opacity: 60%;
	font-size: 15px;
	line-height: 22px;
}

.trusted {
	margin-top: 142px;
	padding: 0 calc(50% - 640px);
	display: flex;
	color: black;
	justify-content: space-between;
}

.trusted__info {
	flex-basis: 394px;
}

.section__info {
	display: flex;
	gap: 20px;
	margin-bottom: 115px;
}

.section__info p {
	color: #4543e8;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 2px;
}

.trusted__info > img {
	margin-left: 5px;
}

.trusted__info > p {
	margin: 17px 0 27px;
	font-size: 19px;
	line-height: 28px;
}

.man__info {
	display: flex;
	align-items: center;
	gap: 24px;
}

.man__text {
	display: flex;
	flex-direction: column;
	gap: 7px;
}

.man__text p:first-of-type {
	font-size: 18px;
	line-height: 24px;
}

.man__text p:last-of-type {
	font-size: 15px;
	line-height: 24px;
}

.trusted__company {
	flex-basis: calc(100% - 394px - 96px);
}

.trusted__company p {
	font-size: 48px;
	line-height: 54px;
}

.trusted__company ul {
	display: flex;
	list-style-type: none;
	margin: 79px 0 75px;
	gap: 74px;
}
.trusted__company ul li {
	font-size: 21px;
	line-height: 31px;
	color: #000000;
}

.trusted__company ul li span {
	display: block;
	color: #4543e8;
	font-size: 60px;
	line-height: 66px;
}

.trusted__company img {
	margin-right: 35px;
}
